/**
 * All icons used are from https://tablericons.com/
 * Highly suggested.
 */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins");

* {
  --hot: #833;
  --cool: #77f;
  --icy: #889;
}

body {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  margin: auto auto;
  background-color: var(--icy);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  transition: all ease-in-out 300ms;
}

.searchBar {
  position: fixed;
}

aside {
  min-width: 5rem;
  min-height: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid white;
  margin-right: 1rem;
}

main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  flex-direction: column;
  min-height: 90%;
  width: 100%;
  flex: 1;
}

.cityName {
  transform: rotate(-90deg);
  font-family: "Poppins", monospace;
  font-size: 2rem;
  width: 0;
}

.searchButton {
  max-width: 5rem;
  max-height: 3rem;
}
.searchBar {
  visibility: hidden;
  top: 1.85rem;
  left: 6rem;
  opacity: 0;
  transform: translateX(-1rem);
  transition: all ease-in-out 300ms;
  z-index: 3;
}

.searchShow {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

.desc {
  font-size: 2rem;
}

.tempInfo {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 15rem;
}

.tempText {
  flex: 2;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: auto;
}

.humidity,
.wind,
.feelsLike {
  display: flex;
  align-items: center;
  justify-content: center;
}

.humidityTitle,
.windTitle,
.feelsLikeTitle {
  font-size: 0.75rem;
  font-family: "Bebas Neue", "Courier New", Courier, monospace;
}

.humidityText,
.windText,
.feelsLikeText {
  font-size: 1.5rem;
}

.humidityIcon,
.windIcon,
.feelsLikeIcon {
  margin: 0.25rem;
}

.blur {
  margin-left: 5rem;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(3px);
  position: absolute;
  visibility: hidden;
  z-index: 2;
}

.blur-active {
  visibility: visible;
}

.otherInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

span {
  text-align: center;
  user-select: none;
}

.searchBar input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: 1px solid yellowgreen;
  border-color: yellowgreen;
}
